@page "/"

<PageTitle>Home</PageTitle>

<div class="home-page">
    <h1 class="page-title">The MMA App</h1>
    <p class="intro-text">Explore fighter Details and Fight Results!</p>

    <button class="mma-button" @onclick="GoToSearchPage">Search for a fighter</button>
    <button class="mma-button" @onclick="GoToResultsPage">Search Fight Results</button>
</div>

@code {
    [Inject] private NavigationManager Navigation { get; set; }

    private void  GoToSearchPage()
    {
        Navigation.NavigateTo("/search");
    }

    private void GoToResultsPage()
    {
        Navigation.NavigateTo("/fightresults");
    }
}

<style>


    .page-title {
        font-size: 4rem;
        color: #FFD700;
        font-weight: bold;
        margin-bottom: 30px;
        text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    }

    .intro-text {
        font-size: 1.5rem;
        color: #ddd;
        margin-bottom: 40px;
        max-width: 600px;
        line-height: 1.5;
        text-align: center;
    }

        .mma-button:hover {
            background-color: #FF8C00;
            transform: scale(1.1);
        }

        .mma-button:focus {
            outline: none;
        }
</style>
